:root {
  --color-text-400: #1e293b;
  --color-text-300: #475569;

  --color-grayscale-500: rgb(148, 163, 184);
  --color-grayscale-400: rgb(203, 213, 225);

  --color-beige-700: rgb(30, 41, 59);
  --color-beige-600: rgb(51, 65, 85);
  --color-beige-500: rgb(71, 85, 105);
  --color-beige-400: #f1f5f9;

  --color-background-400: #f8fafc;

  --color-black-400: #0f172a;

  --color-gray-500: #64748b;
  --color-gray-400: #94a3b8;

  --color-orange-400: #f97316;

  --color-white-400: #ffffff;

  --color-cyan-500: #0ea5e9;
  --color-cyan-400: rgb(56, 189, 248);

  --color-text-cyan-400: #e0f2fe;
  --color-text-cyan-300: #7dd3fc;

  --color-dark-blue-600: #1d4ed8;
  --color-dark-blue-500: #1e40af;
  --color-dark-blue-400: #1e3a8a;

  --color-hologram-top: rgb(30, 64, 175);
  --color-hologram-bottom: rgba(30, 58, 138, 0.6);
}
